@page "/editcategory/{Id:int}"
@inject ICategoryService categoryService;
@inject NavigationManager NavigationManager;
@inject IToastService toastService;

<PageTitle>Update - Category - @Id</PageTitle>

<ModuleTitle Title="Update category" />

<button class="btn btn-dark" @onclick="@(() => NavigationManager.NavigateTo("/category"))">Go Back categories</button>

<EditForm Model="@category" OnSubmit="@Save">
    <div class="row">
        <div class="col-8 form-group">
            <label for="name" class="col-form-label">Name</label>
            <InputText id="name" @bind-Value="category.Name" required class="form-control" />
        </div>
    </div>

    <div class="row">

        <div class="col form-group">
            <label for="image" class="col-form-label">Image (Url)</label>
            <InputText id="image" @bind-Value="category.Image" required class="form-control" />
        </div>
    </div>

    <hr>
    <button class="btn btn-primary" type="submit">Save</button>
</EditForm>

@code
{    
    [Parameter]
    public int Id { get; set; }
    private Category category = new();

    protected override async Task OnInitializedAsync()
    {
        category = await categoryService.GetById(Id);
    }
    private bool IsValidUrl(string url)
    {
        if (string.IsNullOrWhiteSpace(url))
            return false;

        try
        {
            var uri = new Uri(url);
            return uri.IsAbsoluteUri;
        }
        catch
        {
            return false;
        }
    }
    private async Task Save()
    {
        try
        {
            if (!IsValidUrl(category.Image))
            {
                toastService.ShowError("You must enter a valid URL for the image.");
                return;
            }
            category.Image = new string (category.Image );
            await categoryService.Update(Id, category);
            toastService.ShowSuccess("Category Updated");
            //suponiendo q todo ocurrio bn
            NavigationManager.NavigateTo("/category");
        }
        catch (System.Exception)
        {
            toastService.ShowError("Enter the fields correctly");
        }
    }
}

